body {
     background: black;
     color: orange;
}

#boton, #boton1 {
     border-style: solid;
     border-width: 2px;
     border-color: wheat;
     max-width: 101px;
     text-align: center;
}

table {
     user-select: none;
}

.badge {
     font-size: 17px !important;
     position: fixed;
     bottom: 42%;
     left: 50%;
     translate: -50%;
     transition: all 0.5s;
     opacity: 0;
}

.copiable:active {
     background: orange;
}
